<h1>Listing Items</h1>
 
<table>
  <tr>
    <th>purchaser name</th>
    <th>item description</th>
    <th>item price</th>
    <th>purchase count</th>
    <th>merchant address</th>
    <th>merchant name</th>
  </tr>
 
  <% @order_hash.each do |order| %>
    <tr>
      <td><%= order["purchaser name"] %></td>
      <td><%= order["item description"] %></td>
      <td><%= order["item price"] %></td>
      <td><%= order["purchase count"] %></td>
      <td><%= order["merchant address"] %></td>
      <td><%= order["merchant name"] %></td>            
      <td><%= link_to 'Show', order_path(order["id"]) %></td>
    </tr>
  <% end %>
</table>

<div>
  <h2>Total: </h2>
  <span><%= Order.calc_sum %></span>
</div>
<br />
<div>
<%= button_to "Upload another file", new_itemlist_path, :method => "get" %>
</div>