<p>
  <strong>purchaser name:</strong>
  <%= @item.purchaserName %>
</p>
 
<p>
  <strong>item description:</strong>
  <%= @item.itemDesc %>
</p>

<p>
  <strong>item price:</strong>
  <%= @item.itemPrice %>
</p>

<p>
  <strong>purchase count:</strong>
  <%= @item.purchaseCount %>
</p>

<p>
  <strong>merchant address:</strong>
  <%= @item.merchAddress %>
</p>

<p>
  <strong>merchant name:</strong>
  <%= @item.merchName %>
</p>


<%= link_to 'Back', itemlists_path %> 